body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f9f9f9;
  color: #333;
  aline-items: center;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1, h2 {
  color: #24292e;
}

ul {
  list-style: "✔️ ";
  padding-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
}

table, th, td {
  border: 1px solid #ccc;
}

th {
  background: #24292e;
  color: white;
  padding: 8px;
}

td {
  padding: 8px;
}

pre {
  background: #eee;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

button {
  display: block;
  margin: 20px auto;
  padding: 12px 20px;
  background: #2ea44f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #22863a;
}